<%= form_with(model: blog, local: true, multipart: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :title, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_field :title, class:"w-2/5 shadow appearance-none border rounded py-2 px-3 mb-6 text-grey-darker hover:border-teal focus:border-teal focus:bg-grey-lightest" %>
  </div>

  <div class="input-field">
    <%= form.label :text, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_area :text, class:"w-3/5 shadow appearance-none border rounded py-2 px-3 mb-6 text-grey-darker hover:border-teal focus:border-teal focus:bg-grey-lightest", rows: "10" %>
  </div>

  <div class="input-field">
    <%= form.label :picture, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.file_field :picture, class: "appearance-none" %>
  </div>
    <br />
  <div class="actions">
    <%= form.submit class: "border border-blue hover:border-green bg-transparent text-blue-dark hover:text-green-dark py-2 px-4 font-semibold rounded" %>
  </div>
<% end %>
<br />
