<div class="container mx-auto pt-8 p-8">
<%= render "partials/mainnav" %>
  <p id="notice"><%= notice %></p>

<h1 class="h1 mb-8 lowercase pb-4 mb-2 font-hairline">blog</h1>

<div class="flex">
  <div class="w-3/4 flex flex-wrap">

<% @blogs.each do |blog| %>
  <div class="w-64 rounded overflow-hidden shadow-lg m-2">
    <%= image_tag blog.picture.url(:square), class: "w-full" %>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= blog.title %></div>
      <p class="text-grey-darker text-base"><%= blog.snippet %>
      </p>
      <%= link_to 'Read', blog %>
    </div>
  </div>
<% end %>

</div>
<div class="1/4">

</div>

</div>
</div>

<%= render "partials/footer" %>
