<%= form_for(@gin, local: true, multipart: true) do |form| %>
  <% if gin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gin.errors.count, "error") %> prohibited this gin from being saved:</h2>

      <ul>
      <% gin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :name, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_field :name, class:"lg:w-2/5 w-full shadow appearance-none border rounded py-2 px-3 mb-6 text-grey-darker" %>
  </div>

  <div class="input-field">
    <%= form.label :snippet, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_field :snippet, class:"lg:w-2/5 w-full shadow appearance-none border rounded py-2 px-3 mb-6 text-grey-darker" %>
  </div>

  <div class="input-field">
    <%= form.fields_for :distillery do |distillery_form| %>
      <p>
        <%= distillery_form.label :distillery, class: "block text-grey-darker text-sm font-bold mb-2" %>
        <%= distillery_form.text_field :name, class:"lg:w-2/5 w-full shadow appearance-none border rounded py-2 px-3 mb-6 text-grey-darker" %>
      </p>
    <% end %>
  </div>

  <div class="input-field">
    <%= form.label :text, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_area :text, class:"lg:w-3/5 w-full shadow appearance-none border rounded py-2 px-3 mb-6 text-grey-darker", rows: "8" %>
  </div>

  <div class="input-field">
    <%= form.label :image, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.file_field :pic %>
  </div>
<br />
  <div class="actions">
    <%= form.submit class: "bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full" %>
  </div>
<% end %>
