<%= render "partials/mainnav" %>
<div class="container mx-auto pt-16 bg-white p-8 border z-20">
  <p id="notice"><%= notice %></p>

<h1 class="h1">Gins</h1>

  <div class="flex">
    <div class="w-3/4">

      <p>
        We currently have <%= @gins.count %> gins listed on The Gin Detective and we're hoping to build one of the biggest lists out there.
      </p>

      <% @gins.each do |gin| %>
      <div class="w-full flex border rounded shadow-lg">
          <%= image_tag gin.pic.url(:square) %>
          <div class="p-6">
            <h2 class="pin-t mb-2 font-thin text-3xl"><%= gin.name %></h2>
            <p>
              <%= gin.text %>
            </p><br />
            <%= link_to 'Read more', gin_path(gin), class: "font-thin bg-teal-dark hover:bg-teal-light text-yellow font-bold py-2 px-4 rounded no-underline mt-8" %><br /><br />
            <p class="text-grey text-sm mt-6"><%= gin.created_at.strftime("%e %B %Y") %></p>
          </div>
        </div>
        <br />
      <% end %>
      <%= link_to 'New Gin', new_gin_path %>
    </div>
    <div class="1/4">

    </div>
  </div>

</div><!-- end of container -->

<%= render "partials/footer" %>
