<%= render "partials/mainnav" %>
<div class="container">
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>


</div>

<%= render "partials/footer" %>
