<footer class="pin-b">
  <div class="w-full bg-grey-lightest p-6">
    <div class="flex justify-center">
      <div class="w-1/1 text-center text-sm text-black font-hairline tracking-wide appearance-none">
        <% @pages.each do |page| %>
            <%= link_to page_path(page), class: "no-underline" do %> <%= page.title %><% end %>
        <% end %>
          <br /><br />
        <p> &copy; <%= Time.new.year %></p>
        <% if admin_signed_in? %>
        <p>
          logged in as - <%= current_admin.email %> <%= link_to "sign out", destroy_admin_session_path, :method => :delete %>
        </p>
        <% else %>
        <%= link_to 'admin', new_admin_session_path, class: "no-underline" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
