<div class="container mx-auto pt-8 p-8">
    <%= render "partials/mainnav" %>
    <div class="flex-wrap items-stretch mx-8">
      <% @last4gins.each do |gins| %>
      <div class="flex-1">

            <%= image_tag gins.pic.url(:square), class: "" %>
            <p class="pt-4">
              <%= gins.created_at.strftime("%b %e, %Y") %>
            </p>
            <p class="pt-4">
              <%= gins.name %>
            </p>
            <p class="pb-4"></p>

      </div>
      <% end %>
    </div>

<br />
  <%= link_to 'See all gins', gins_path(), class: 'btn' %>




  <h2 class="thin">This Weeks Most Read Posts</h2>

  <% @topblogs.each do |blog| %>
    <%= link_to blog_path(blog) do %><% blog.title %><% end %> <br />
  <% end %>
</div>

<%= render "partials/footer" %>
