<div class="container mx-auto pt-8 p-8">
<%= render "partials/mainnav" %>
<p id="notice"><%= notice %></p>

  <h1 class="h1 mb-8 w-full text-center lowercase h1 pb-4 mb-2 font-hairline"><%= @event.title %></h1>
  <p>
    <%= @event.snippet %>
  </p>


<p>
  <%== @event.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>


</div><!--end of container -->

<%= render "partials/footer" %>
