<div class="container mx-auto pt-8 p-8">
<%= render "partials/mainnav" %>
<p id="notice"><%= notice %></p>

  <h1 class="h1 mb-8 w-full text-center lowercase h1 pb-4 mb-2 font-hairline"><%= @event.title %></h1>
  <p>
    <%= @event.snippet %>
  </p>


<p>
  <%== @event.text %>
</p><br />

<p>
  <h4>Dates:</h4>
  <%= @event.date.strftime("%e %B %Y") %> - <%= @event.enddate.strftime("%e %B %Y") %>
</p><br />

<p>
  <h4>Time:</h4>
  <%= @event.time.strftime("%H: %M") %> - <%= @event.endtime.strftime("%H: %M") %>
</p><br />

<p>
  <h4>Location:</h4>
  <%= @event.location %>
</p><br />

<p>
  <h4>Price:</h4>
  <%= number_to_currency(@event.price, :unit => "£", :separator => ".", :delimiter => ",") %>
</p><br />


</div><!--end of container -->

<%= render "partials/footer" %>
