<div class="container mx-auto pt-8 p-8">
<%= render "partials/mainnav" %>
<p id="notice"><%= notice %></p>

  <h1 class="h1 mb-8 w-full text-center lowercase h1 pb-4 mb-2 font-hairline"><%= @event.title %></h1>
  <h2 class="block w-full text-center lowercase mb-6 font-hairline">
    <%= @event.snippet %>
  </h2>


<p class="text-grey-darker font-light tracking-wide w-full p-4 leading-loose" style="font-family: 'Pavanam', serif;">
  <%== @event.text %>
</p><br />

<h4 class="block w-full lowercase mb-6 font-hairline">Dates:</h4>
<p class="text-grey-darker font-light tracking-wide w-full p-4 leading-loose" style="font-family: 'Pavanam', serif;">
  <%= @event.date.strftime("%e %B %Y") %> - <%= @event.enddate.strftime("%e %B %Y") %>
</p><br />

<h4 class="block w-full lowercase mb-6 font-hairline">Time:</h4>
<p class="text-grey-darker font-light tracking-wide w-full p-4 leading-loose" style="font-family: 'Pavanam', serif;">
  Start: <%= @event.time.strftime("%H:%M") %> - End: <%= @event.endtime.strftime("%H:%M") %>
</p><br />

<h4 class="block w-full lowercase mb-6 font-hairline">Location:</h4>
<p class="text-grey-darker font-light tracking-wide w-full p-4 leading-loose" style="font-family: 'Pavanam', serif;">
  <%= @event.location %>
</p><br />

<h4 class="block w-full lowercase mb-6 font-hairline">Price:</h4>
<p class="text-grey-darker font-light tracking-wide w-full p-4 leading-loose" style="font-family: 'Pavanam', serif;">
  <%= number_to_currency(@event.price, :unit => "£", :separator => ".", :delimiter => ",") %>
</p><br />


</div><!--end of container -->

<%= render "partials/footer" %>
