<div class="container mx-auto pt-8 p-8">
  <%= render "partials/mainnav" %>
  <p id="notice"><%= notice %></p>

<h1 class="mb-6 text-5xl font-thin"></h1>
<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Text:</strong>
  <%= @page.text %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>

</div>

<%= render "partials/footer" %>
